.league-gray-3 {
  --league-icon: url("./league-gray-3.svg");
}

.league-gray-2 {
  --league-icon: url("./league-gray-2.svg");
}

.league-gray-1 {
  --league-icon: url("./league-gray-1.svg");
}

.league-green-3 {
  --league-icon: url("./league-green-3.svg");
}

.league-green-2 {
  --league-icon: url("./league-green-2.svg");
}

.league-green-1 {
  --league-icon: url("./league-green-1.svg");
}

.league-blue-3 {
  --league-icon: url("./league-blue-3.svg");
}

.league-blue-2 {
  --league-icon: url("./league-blue-2.svg");
}

.league-blue-1 {
  --league-icon: url("./league-blue-1.svg");
}

.league-purple-3 {
  --league-icon: url("./league-purple-3.svg");
}

.league-purple-2 {
  --league-icon: url("./league-purple-2.svg");
}

.league-purple-1 {
  --league-icon: url("./league-purple-1.svg");
}

.league-gold-3 {
  --league-icon: url("./league-gold-3.svg");
}

.league-gold-2 {
  --league-icon: url("./league-gold-2.svg");
}

.league-gold-1 {
  --league-icon: url("./league-gold-1.svg");
}

.league-black-3 {
  --league-icon: url("./league-black-3.svg");
}

.league-black-2 {
  --league-icon: url("./league-black-2.svg");
}

.league-black-1 {
  --league-icon: url("./league-black-1.svg");
}

.league-masters-3 {
  --league-icon: url("./league-masters-3.svg");
}

.league-masters-2 {
  --league-icon: url("./league-masters-2.svg");
}

.league-masters-1 {
  --league-icon: url("./league-masters-1.svg");
}
